body {
    font-family: "Source Sans Pro";
}
.break-before {
    page-break-before: always;
}
.table {
    width: 100%;
}

.title {
    text-align: center;
    font-weight: bold;
    font-size: 4pc;
}
.customer {
    text-align: center;
    font-weight: bold;
    font-size: 3pc;
}
.subtitle {
    text-align: center;
    font-weight: bold;
    font-size: 1pc;
}
.align-left {
    text-align: left;
}
.logo {
    height: 4pc;
    width: 4pc;
}
.green {
    background-color: #6EFF00;
    left: 0;
    position: absolute;
    top: 0;
    height: 4pc;
    width: 100%;
}
.pass {
    color: green;
}
.fail {
    color: red;
}
.info {
    color: black;
}
/* override styles when printing */
@media print {

    body {
        background-color: #FFFFFF;
        font-family: "Source Sans Pro";
        font-weight: 400;
    }
    .logo {
        height: 4pc;
        width: 4pc;
    }
    .green {
        background-color: #6EFF00;
        left: 0;
        position: absolute;
        top: 0;
        height: 4pc;
        width: 100%;
    }

}
@page {
    size: portrait;
}